.link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFF;
    font-size: 1.6rem;
    margin-left: 15px;
    margin-top: 5px;
    padding-right: 10px;
}

.navbar{
    background-color: rgb(39, 39, 39);
}
.login-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navbar-toggler{
    background-color: #FFF;
}
.navbar-brand{
    display: none;
    font-size: 1.8rem;
    color: #FFF;
}
.navbar-light .navbar-brand, .navbar-toggler-icon{
    font-size: 1.8rem;
    color: #FFF;
}

@media (max-width: 600px) 
{
  .navbar-brand{
      display: block;
  }
}