.text-muted cite{
    font-size: 1.4rem;
    color: #444;
}

.card-header{
    font-size: 1.65rem;
    display: block;
    background-color:#1a0e0eab;
    color: #FFF;
}

.card-text{
    font-size: 1.1rem;
}
.col-sm-4{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.row{
    align-self: flex-start;
    height:90%;
    width: 100%;
}

.card-body{
    background:#ec59970e;
    color: #333;
}

.card{
    -webkit-box-shadow: 5px 5px 7px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 7px -3px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 7px -3px rgba(0,0,0,0.75);
}
main{
    top:25vw;
    height:80vh;
    width: 100vw;
}

header .session-title{
    margin-top: 1.2rem;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    color: #333;
}

@media (min-width: 700px) { 
    main{
        top:7vw;
    }
}