.datePicker{
    width: 24rem;
    font-size: 1.4rem;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.form-check-label{
    font-size: 1.4rem;
    margin-bottom: 10px;
    margin-left: 5px;
}

span{
    font-size: 1.6rem;
}